<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <title><%=name.titlecase%></title>

    <link rel="stylesheet" href="res/latest/<%=name%>-debug.css" type="text/css" charset="utf-8">

    <script src="res/latest/<%=name%>-debug.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <script>
        coherent.Application.shared.setAssetLocation("res/latest");
        coherent.Application.shared.setMainBundle("<%=nib_name%>");
    </script>
</body>
</html>