<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=8">
  <title><%=name.titlecase%></title>

  <link rel="stylesheet" href="<%=name%>-debug.css" type="text/css" charset="utf-8">
  <script src="<%=name%>-debug.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <noscript>
    This application requires a browser with Javascript enabled.
  </noscript>
</body>
</html>